DEPLOYMENT_PRIVATE_KEY=0x
NETWORK_NAME=bokuto
# RPC_URL=https://base-sepolia.g.alchemy.com/v2/E9LWD32GvGvBoNXBcilg7XnjT5riUXjg
# RPC_URL=https://rpc.tatara.katanarpc.com
RPC_URL=https://rpc-bokuto.katanarpc.com
ETHERSCAN_API_KEY=

### ve governance config
MIN_APPROVALS=1
FEE_PERCENT=1
COOLDOWN_PERIOD=1
MIN_LOCK_DURATION=1
VOTING_PAUSED=false
MIN_DEPOSIT=1

LINEAR_COEFFICIENT=0
CONSTANT_COEFFICIENT=1000000000000000000 # 1e18 multiplier that helps with divisions.
MAX_EPOCHS=0
SIMPLE_GAUGE_VOTER_REPO_ENS_SUBDOMAIN=

### The script uses factory that deploys dao + multisig + ve-governance together.
### The below are details of which multisig to attach to the dao.
MULTISIG_PLUGIN_REPO_ADDRESS=
MULTISIG_PLUGIN_RELEASE=1
MULTISIG_PLUGIN_BUILD=3
MULTISIG_METADATA_URI="ipfs://"

### osx addresses
DAO_FACTORY=
PLUGIN_SETUP_PROCESSOR=
PLUGIN_REPO_FACTORY=
EXECUTOR=

MINT_TEST_TOKENS=true



